include ../../components/button/button.pug

mixin nav-bar({first, second, third, fourth, fifth, sixth, submenuitem1, submenuitem2, submenuitem3, isLogged})

  case isLogged

    when 'logged'
      .navigation-bar
        .navigation-bar__body.between
          .navigation-bar__logo-toxin
            +logo-toxin()
          .navigation-bar__right-column
              nav.navigation-bar__navigation
                ul.topmenu
                  li.navig
                    a.navig__link.active(href='link.html')= first
                  li.navig
                    a.navig__link(href='link.html')= second
                    ul.submenu
                      li.submenu__item1
                        a.submenu__link1(href="link.html")= submenuitem1
                      li.submenu__item2
                        a.submenu__link1(href="link.html")= submenuitem2
                      li.submenu__item3
                        a.submenu__link1(href="link.html")= submenuitem3
                    img.navig__image(src="expand_more.svg" alt="стрелка - указатель")
                  li.navig
                    a.navig__link(href='link.html')= third
                  li.navig
                    a.navig__link.px(href='link.html')= fourth
                  li.navig
                    a.navig__link(href='link.html')= fifth
                    ul.submenu
                      li.submenu__item1
                        a.submenu__link1(href="link.html")= submenuitem1
                      li.submenu__item2
                        a.submenu__link1(href="link.html")= submenuitem2
                      li.submenu__item3
                        a.submenu__link1(href="link.html")= submenuitem3
                    img.navig__image(src="expand_more.svg" alt="стрелка - указатель")
              .user
                img.user__arrow(src="rectangle.svg", alt="вертикальная линия")
                .user-text='Юлий Цезарь'
   
    default
        .navigation-bar
          .navigation-bar__body.between
            .navigation-bar__logo-toxin
              +logo-toxin()
            .navigation-bar__right-column
              nav.navigation-bar__navigation
                ul.topmenu
                  li.navig
                    a.navig__link.active(href='link.html')= first
                  li.navig
                    a.navig__link(href='link.html')= second
                    ul.submenu
                      li.submenu__item1
                        a.submenu__link1(href="link.html")= submenuitem1
                      li.submenu__item2
                        a.submenu__link1(href="link.html")= submenuitem2
                      li.submenu__item3
                        a.submenu__link1(href="link.html")= submenuitem3
                    img.navig__image(src="expand_more.svg" alt="стрелка - указатель")
                  li.navig
                    a.navig__link(href='link.html')= third
                  li.navig
                    a.navig__link.px(href='link.html')= fourth
                  li.navig
                    a.navig__link(href='link.html')= fifth
                    ul.submenu
                      li.submenu__item1
                        a.submenu__link1(href="link.html")= submenuitem1
                      li.submenu__item2
                        a.submenu__link1(href="link.html")= submenuitem2
                      li.submenu__item3
                        a.submenu__link1(href="link.html")= submenuitem3
                    img.navig__image(src="expand_more.svg" alt="стрелка - указатель")
                .navigation-bar__buttons
                  .navigation-bar__login-button
                    +button({styleType: 'empty', href: 'link.html', text: 'Войти', isShort: 'short'})
                  .navigation-bar__password-button
                    +button({styleType: 'long', href: 'link.html', text: 'Зарегистрироваться', isShort: 'short'})





