mixin button({styleType, href, text, isShort=' '}={})

    case styleType
        when 'simple'
            .buttons__item
                a.button.buttons__hover(href=href)=text

        when 'empty'
            .buttons__item
                a(href=href class=`button buttons__white buttons__white_${isShort}`)=text

        when 'borderless'
            .buttons__item
                a.button.buttons__borderless(href=href)=text
                
        when 'long'
            .buttons__item
                form.buttons__form(action=href, method="get")
                    a(href=href class=`button buttons__long buttons__long_${isShort}`)=text

        when 'long-arrow'
            .buttons__item
                form.buttons__form(action=href, method="get")
                    a(href=href class=`button buttons__long buttons__long_${isShort}`)=text
                    button.buttons__arrow(type='submit') arrow_forward