include ../../components/heading/heading.pug
mixin date-dropdown({ inputField = 'single', firstHeading=' ', secondHeading= '', isInline=' ', type='text'  } = {})
 
    //- - let darkThemeModifier = ''
    //- - let maskedThemeModifier = ''
    //- - let isClickableModifier = ''

    case inputField
        when 'single'
            .datepicker__container
                +heading({ type: 'h3', text: `${firstHeading}`, }) 
                //- i.datepicker__arrow.inline expand_more
                input.datepicker-here(type=type
                        class=`${isInline}` 
                        data-multiple-dates="2"
                        data-multiple-dates-separator=" - "
                        data-position='right top'
                        data-range="true"
                        placeholder="ДД.МЕС - ДД.МЕС"
                        readonly
                    )
        when 'two-inputs'
            .datepicker__container
                .datepicker__item
                    .datepicker__header
                        +heading({ type: 'h3', text: `${firstHeading}`, })
                    .datepicker__inputs
                        i.datepicker__arrow expand_more
                        input.datepicker-two-inputs.datepicker__start(type="text" 
                                data-multiple-dates="2"
                                data-multiple-dates-separator=" - "
                                data-position='right top'
                                data-range="true"
                                placeholder="ДД.ММ.ГГГГ"
                                readonly
                            )
                .datepicker__item
                    .datepicker__header
                        +heading({ type: 'h3', text: `${secondHeading}`, })
                    .datepicker__inputs
                        i.datepicker__arrow expand_more
                        input.datepicker-two-inputs.datepicker__end(type="text" 
                                data-multiple-dates="2"
                                data-multiple-dates-separator=" - "
                                data-position='right top'
                                data-range="true"
                                placeholder="ДД.ММ.ГГГГ"
                                readonly
                            )
    
  
 
 

//- <body>

//-   <div class="one">
//-     <label for="start_one">С:</label>
//-     <input type="text" id="start_one" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here"/>
//-     <label for="start_one">До:</label>
//-     <input type='text' id='end_one'>
//-   </div>
