.datepicker__container
    span.datepicker__title Прибытие
    i.datepicker__arrow expand_more
    input.datepicker-two-inputs.datepicker__start(type="text" 
            data-multiple-dates="2"
            data-multiple-dates-separator=" - "
            data-position='right top'
            data-range="true"
            placeholder="ДД.ММ.ГГГГ - ДД.ММ.ГГГГ"
            readonly
        )
    span.datepicker__title Выезд
    i.datepicker__arrow expand_more
    input.datepicker-two-inputs.datepicker__end(type="text" 
            data-multiple-dates="2"
            data-multiple-dates-separator=" - "
            data-position='right top'
            data-range="true"
            placeholder="ДД.ММ.ГГГГ - ДД.ММ.ГГГГ"
            readonly
        )
//- <body>

//-   <div class="one">
//-     <label for="start_one">С:</label>
//-     <input type="text" id="start_one" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here"/>
//-     <label for="start_one">До:</label>
//-     <input type='text' id='end_one'>
//-   </div>
