include ../../components/heading/heading.pug
mixin datepicker-container({ inputField = 'single', firstHeading=' ', secondHeading= '', isInline=' ', type='text'  } = {})
    case inputField
        when 'single'
            .datepicker-container
                +heading({ type: 'h3', text: `${firstHeading}`, })
                input.datepicker-here(type=type
                        class=`${isInline}`
                        data-multiple-dates="2", data-multiple-dates-separator=" - ", data-range="true", placeholder="ДД.МЕС - ДД.МЕС"
                        readonly
                    )
        when 'two-inputs'
            .datepicker-container
                .datepicker-container__item
                    .datepicker-container__header
                        +heading({ type: 'h3', text: `${firstHeading}`, })
                    .datepicker-container__inputs
                        i.datepicker-container__arrow expand_more
                        input.datepicker-two-inputs.datepicker-two-inputs_start(type="text", data-multiple-dates="2", data-multiple-dates-separator=" - ", data-range="true", placeholder="ДД.ММ.ГГГГ"
                                readonly
                            )
                .datepicker-container__item
                    .datepicker-container__header
                        +heading({ type: 'h3', text: `${secondHeading}`, })
                    .datepicker-container__inputs
                        i.datepicker-container__arrow expand_more
                        input.datepicker-two-inputs.datepicker-two-inputs_end(type="text", data-multiple-dates="2", data-multiple-dates-separator=" - ", data-range="true", placeholder="ДД.ММ.ГГГГ"
                                readonly
                            )