mixin footer-links({mainfooterDescribtion,headerOfLink1,link1_1,link1_2,link1_3,link1_4,headerOfLink2,link2_1,link2_2,link2_3,link2_4,headerOfLink3,link3_1,link3_2,link3_3,})
    .colums__row
        .colums__Descr
            .colums__items
                .item__logo
                +logo-toxin()
                .items__about
                .items__body 
                    span.text__footer-desc=mainfooterDescribtion
        .colums__Navigation
            .colums__items
                .colums__links
                    ul.colums__list
                        li.colums__unordered
                            a.colums__refers.bold(href='link.html')=headerOfLink1
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link1_1
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link1_2
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link1_3
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link1_4
        .colums__About-us
            .colums__items
                .colums__links
                    ul.colums__list
                        li.colums__unordered
                            a.colums__refers.bold(href='link.html')=headerOfLink2
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link2_1
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link2_2
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link2_3
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link2_4
        .colums__Support
            .colums__items
                .colums__links
                    ul.colums__list
                        li.colums__unordered
                            a.colums__refers.bold(href='link.html')=headerOfLink3
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link3_1
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link3_2
                        li.colums__unordered
                            a.colums__refers(href='link.html')=link3_3
        .colums__Sub
            .colums__items
                    include ../subscribe/subscribe.pug