mixin checkbox-buttons({ values = [{ name: 'checkbox-button', text: ' ', description, typeOfCheckBox, isChecked }] })
    each value in values
        - const { name, text, description, typeOfCheckBox, isChecked } = value
        case typeOfCheckBox
            when 'rich-checkbox'
                .checkbox-buttons
                    .checkbox-buttons__button
                        label.checkbox-buttons__lable.checkbox-buttons_rich
                                span.checkbox-buttons__rich-text=text
                                input.checkbox-buttons__input(type="checkbox", name=name,)
                                span.checkbox-buttons__checkmark
                        .checkbox-buttons__about=description
            default
                .checkbox-buttons
                    .checkbox-buttons__button
                        label(class='checkbox-buttons__lable')
                                input.checkbox-buttons__input(type="checkbox", name=name,checked=isChecked )
                                span.checkbox-buttons__checkmark
                                span.checkbox-buttons__text-simple=text
                                    .checkbox-buttons__button
