include ../star/star.pug
mixin slick-slider({ values= [{image}], number, isLux, cost, votes, rating, arrow="", }={})
    .slick__slider(class=`${arrow}`)
        .slick__content
                each value in values
                    - const { image } = value
                    .slider__item
                        img.slider__image(src=(image), alt="комната")
        .slick__describtion
            .slick__row
                .slick__paragraph
                    span.slick__symbol  №
                    span.slick__number=number
                    span.slick__type-of-room=isLux
                .slick__paragraph
                    span.slick__price=cost
                    span.slick__price ₽
                    span.slick__in-time   в сутки
            .slick__row
                .slick__underline
                    img(src=("underline.svg"), alt="line")
            .slick__row
                .slick__star-button
                    +star({rating})
                .slick__reviews-block
                    span.slick__reviews-number=votes
                    span.slick__reviews   Отзывов